<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mafangui.hotel.mapper.RoomTypeMapper">
  <resultMap id="BaseResultMap" type="cn.mafangui.hotel.entity.RoomType">
    <id column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="room_type" jdbcType="INTEGER" property="roomType" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="booking_price" jdbcType="DOUBLE" property="bookingPrice" />
    <result column="booking_discount" jdbcType="DOUBLE" property="bookingDiscount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    type_id, room_type, type_name, booking_price, booking_discount, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <select id="selectByRoomType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from room_type
    where room_type = #{roomType,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select * FROM room_type
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.mafangui.hotel.entity.RoomType">
    insert into room_type (type_id, room_type, type_name, 
      booking_price, booking_discount, create_time, 
      update_time)
    values (#{typeId,jdbcType=INTEGER}, #{roomType,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, 
      #{bookingPrice,jdbcType=DOUBLE}, #{bookingDiscount,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.mafangui.hotel.entity.RoomType">
    insert into room_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomType != null">
        room_type,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="bookingPrice != null">
        booking_price,
      </if>
      <if test="bookingDiscount != null">
        booking_discount,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomType != null">
        #{roomType,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="bookingPrice != null">
        #{bookingPrice,jdbcType=DOUBLE},
      </if>
      <if test="bookingDiscount != null">
        #{bookingDiscount,jdbcType=DOUBLE},
      </if>
      now(),
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.mafangui.hotel.entity.RoomType">
    update room_type
    <set>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="bookingPrice != null">
        booking_price = #{bookingPrice,jdbcType=DECIMAL},
      </if>
      <if test="bookingDiscount != null">
        booking_discount = #{bookingDiscount,jdbcType=REAL},
      </if>
        update_time = now(),
    </set>
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.mafangui.hotel.entity.RoomType">
    update room_type
    set room_type = #{roomType,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=VARCHAR},
      booking_price = #{bookingPrice,jdbcType=DECIMAL},
      booking_discount = #{bookingDiscount,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <delete id="deleteByRoomType" parameterType="java.lang.Integer">
    delete from room_type
    where room_type = #{roomType,jdbcType=INTEGER}
  </delete>
  <update id="updateByRoomTypeSelective" parameterType="cn.mafangui.hotel.entity.RoomType">
    update room_type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="bookingPrice != null">
        booking_price = #{bookingPrice,jdbcType=DOUBLE},
      </if>
      <if test="bookingDiscount != null">
        booking_discount = #{bookingDiscount,jdbcType=DOUBLE},
      </if>
        update_time = now(),
    </set>
    where room_type = #{roomType,jdbcType=INTEGER}
  </update>
</mapper>