<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mafangui.hotel.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="cn.mafangui.hotel.entity.Room">
    <id column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="room_number" jdbcType="VARCHAR" property="roomNumber" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="room_type" jdbcType="VARCHAR" property="roomType" />
    <result column="room_price" jdbcType="DOUBLE" property="roomPrice" />
    <result column="room_discount" jdbcType="DOUBLE" property="roomDiscount" />
    <result column="room_status" jdbcType="INTEGER" property="roomStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    room_id, room_number, type_id, room_type, room_price, room_discount, room_status,
    remark, create_time, update_time
  </sql>
  <select id="getCount" resultType="java.lang.Integer">
    select count(room_id) from room_info
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from room_info
    where room_id = #{roomId,jdbcType=INTEGER}
  </select>
  <select id="selectByNumber" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from room_info
    where room_number = #{roomNumber,jdbcType=VARCHAR}
  </select>
  <select id="selectByType" parameterType="Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from room_info
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <select id="selectByStatus" parameterType="Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from room_info
    where room_status = #{roomStatus,jdbcType=INTEGER}
  </select>
  <select id="randomSelectByTypeAndStatus" parameterType="Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from room_info
    where type_id = #{typeId,jdbcType=INTEGER} and room_status = #{roomStatus,jdbcType=INTEGER}
    ORDER BY RAND() LIMIT 1
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from room_info
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room_info
    where room_id = #{roomId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.mafangui.hotel.entity.Room">
    insert into room_info (room_id, room_number, type_id,
      room_type, room_price, room_discount,
      room_status, remark, create_time,
      update_time)
    values (#{roomId,jdbcType=INTEGER}, #{roomNumber,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER},
      #{roomType,jdbcType=VARCHAR}, #{roomPrice,jdbcType=DOUBLE}, #{roomDiscount,jdbcType=DOUBLE},
      #{roomStatus,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="cn.mafangui.hotel.entity.Room">
    insert into room_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        room_id,
      </if>
      <if test="roomNumber != null">
        room_number,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="roomType != null">
        room_type,
      </if>
      <if test="roomPrice != null">
        room_price,
      </if>
      <if test="roomDiscount != null">
        room_discount,
      </if>
      <if test="roomStatus != null">
        room_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null">
        #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomPrice != null">
        #{roomPrice,jdbcType=DOUBLE},
      </if>
      <if test="roomDiscount != null">
        #{roomDiscount,jdbcType=DOUBLE},
      </if>
      <if test="roomStatus != null">
        #{roomStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      now(),
      now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.mafangui.hotel.entity.Room">
    update room_info
    <set>
      <if test="roomNumber != null">
        room_number = #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomPrice != null">
        room_price = #{roomPrice,jdbcType=DOUBLE},
      </if>
      <if test="roomDiscount != null">
        room_discount = #{roomDiscount,jdbcType=DOUBLE},
      </if>
      <if test="roomStatus != null">
        room_status = #{roomStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
        update_time = now(),
    </set>
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.mafangui.hotel.entity.Room">
    update room_info
    set room_number = #{roomNumber,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      room_type = #{roomType,jdbcType=VARCHAR},
      room_price = #{roomPrice,jdbcType=DOUBLE},
      room_discount = #{roomDiscount,jdbcType=DOUBLE},
      room_status = #{roomStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = now()
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
</mapper>
